html {
  /* ### Primary */
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* ### Neutral */
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  margin: 0;
  /* background-image: url("../design/mobile-design.jpg"); */
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Manrope";
  font-weight: 800;
  src: url("./fonts/Manrope-ExtraBold.ttf") format("truetype");
}
